<template name="AdminNav">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Core PC Parts <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="#">Chassis</a></li>
            <li><a href="#">Cooling</a></li>
            <li><a href="#">Graphics Cards</a></li>
            <li><a href="#">Memory</a></li>
            <li><a href="#">Motherboards</a></li>
            <li><a href="#">Power Supply</a></li>
            <li><a href="/cpu">Processors</a></li>
            <li><a href="#">Server Racks</a></li>
            <li><a href="#">Sound Cards</a></li>
            <li><a href="#">Storage</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">PC Extras <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="#">Disk Drives</a></li>
            <li><a href="#">Flash Drives</a></li>
            <li><a href="#">Gaming Controllers</a></li>
            <li><a href="#">Games</a></li>
            <li><a href="#">Head Sets</a></li>
            <li><a href="#">Keyboards</a></li>
            <li><a href="#">Mice</a></li>
            <li><a href="#">Monitors</a></li>
            <li><a href="#">Power Protection</a></li>
            <li><a href="#">Printers</a></li>
            <li><a href="#">Printer Supplies</a></li>
            <li><a href="#">Projectors</a></li>
            <li><a href="#">RAID Controllers</a></li>
            <li><a href="#">SD Card Readers</a></li>
            <li><a href="#">Speakers</a></li>
            <li><a href="#">WebCams</a></li>
        </ul>
    </li>

    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ userName }}<span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="#" id="log-out-button">Log out</a></li>
        </ul>
    </li>
</template>