<template name="CoolingAdd">
    <div class="form-container">
        <form id="add-form">
            <div class="row">
                <header>
                    <h1>Add Cooling</h1>
                </header>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <h3>Cooling Name</h3>
                    <input name="name" type="text" placeholder="Enter Cooler Name"/>
                </div>
                <div class="col-md-3">
                    <h3>Manufacturer</h3>
                    <input name="manufacturer" type="text" placeholder="Enter Manufacturer Name"/>
                </div>
                <div class="col-md-3">
                    <h3>Model</h3>
                    <input name="model" type="text" placeholder="Enter Cooler Model"/>
                </div>
                <div class="col-md-3">
                    <h3>Cooler Type</h3>
                    <input name="type" type="text" placeholder="Enter Cooler Type"/>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <h3>Price</h3>
                    <input name="price" type="text" placeholder="Enter Current Price"/>
                </div>
                <div class="col-md-3">
                    <h3>LED Lighting</h3>
                    <input name="led" type="text" placeholder="Enter LED Lighting"/>
                </div>
                <div class="col-md-3">
                    <h3>Fan RPM</h3>
                    <input name="rpm" type="text" placeholder="Enter Fan RPM"/>
                </div>
                <div class="col-md-3">
                    <h3>Cooler Size</h3>
                    <input name="size" type="text" placeholder="Enter Cooling Unit Size"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <h3>Website URL</h3>
                    <input name="website" type="text" placeholder="Enter Link URL"/>
                    <input class="submit-button" id="backButton" type="button" value="Back"/>
                    <input class="submit-button" type="submit" value="Save"/>
                </div>
                <div class="col-md-3">
                    <h3>Description</h3>
                    <textarea name="description" rows="3" placeholder="Enter Extra Information"></textarea>
                </div>
            </div>
        </form>
    </div>
</template>