<template name="CoolingMain">
    <div class="container-fluid">
        <div class="row">
            <h1>Cooling</h1>
        </div>
        <div class="table-div">
            {{> tabular table=TabularTables.Cooling selector=selector class="table table-striped table-bordered table-condensed"}}
        </div>
        <div class="row page-buttons">
            <a class="button" href="/">Home</a>
            <a class="button" href="/cooling/add">Add Cooling</a>
        </div>
    </div>
</template>