<template name="CoolingEdit">
    <div class="form-container">
        <form id="edit-form">
            <div class="row">
                <header>
                    <h1>Edit Cooler: {{cooler.name}}</h1>
                </header>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <h3>Cooler Name</h3>
                    <input name="name" type="text" onClick="this.select();" value="{{cooler.name}}"/>
                </div>
                <div class="col-md-3">
                    <h3>Manufacturer</h3>
                    <input name="manufacturer" type="text" onClick="this.select();" value="{{cooler.manufacturer}}"/>
                </div>
                <div class="col-md-3">
                    <h3>Model</h3>
                    <input name="model" type="text" onClick="this.select();" value="{{cooler.model}}"/>
                </div>
                <div class="col-md-3">
                    <h3>Cooler Type</h3>
                    <input name="type" type="text" onClick="this.select();" value="{{cooler.type}}"/>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <h3>Price</h3>
                    <input name="price" type="text" onClick="this.select();" value="{{cooler.price}}"/>
                </div>
                <div class="col-md-3">
                    <h3>Cooler LED</h3>
                    <input name="led" type="text" onClick="this.select();" value="{{cooler.led}}"/>
                </div>
                <div class="col-md-3">
                    <h3>Fan RPM</h3>
                    <input name="rpm" type="text" onClick="this.select();" value="{{cooler.rpm}}"/>
                </div>
                <div class="col-md-3">
                    <h3>Cooler Size</h3>
                    <input name="size" type="text" onClick="this.select();" value="{{cooler.size}}"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <h3>Website URL</h3>
                    <input name="website" type="text" onClick="this.select();" value="{{cooler.website}}"/>
                    <input class="submit-button" id="backButton" type="button" value="Back"/>
                    <input class="submit-button" type="submit" value="Save"/>
                </div>
                <div class="col-md-3">
                    <h3>Available Stock</h3>
                    <input name="stock" type="text" onClick="this.select();" value="{{cooler.stock}}"/>
                </div>
                <div class="col-md-3">
                    <h3>Description</h3>
                    <textarea name="description" onClick="this.select();" rows="3">{{cooler.description}}</textarea>
                </div>
            </div>
        </form>
    </div>
</template>