<template name="HomeAdmin">
    <div class="container-fluid">
        <div class="row">
            <h2>Core PC Products</h2>
        </div>
        <div class="row home-parts">
            <span>
                <a href="/chassis">Chassis</a>
                <span class="home-parts-count">{{ chassisCount }}</span>
            </span>
            <span>
                <a href="/cooling">Cooling</a>
                <span class="home-parts-count">{{ coolingCount }}</span>
            </span>
            <span>
                <a href="/gpu">Graphics Cards</a>
                <span class="home-parts-count">{{ gpuCount }}</span>
            </span>
            <span>
                <a href="/memory">Memory</a>
                <span class="home-parts-count">{{ memoryCount }}</span>
            </span>
            <span>
                <a href="/motherboard">Motherboards</a>
                <span class="home-parts-count">{{ motherboardCount }}</span>
            </span>
            <span>
                <a href="/">Power Supply</a>
                <span class="home-parts-count">{{ psuCount }}</span>
            </span>
            <span>
                <a href="/cpu">Processors</a>
                <span class="home-parts-count">{{ cpuCount }}</span>
            </span>
            <span>
                <a href="#">Server Racks</a>
                <span class="home-parts-count">{{ serverRacksCount }}</span>
            </span>
            <span>
                <a href="/soundcard">Sound Cards</a>
                <span class="home-parts-count">{{ soundCardCount }}</span>
            </span>
            <span>
                <a href="/storage">Storage</a>
                <span class="home-parts-count">{{ storageCount }}</span>
            </span>
        </div>

        <div class="row">
            <h2>Auxiliary Products</h2>
        </div>
        <div class="row home-parts">
            <span>
                <a href="/">Disk Drives</a>
                <span class="home-parts-count">{{ cpuCount }}</span>
            </span>
            <span>
                <a href="/">Flash Drives</a>
                <span class="home-parts-count">{{ cpuCount }}</span>
            </span>
            <span>
                <a href="/">Gaming Controllers</a>
                <span class="home-parts-count">{{ cpuCount }}</span>
            </span>
            <span>
                <a href="/">Games</a>
                <span class="home-parts-count">{{ cpuCount }}</span>
            </span>
            <span>
                <a href="/">Head Sets</a>
                <span class="home-parts-count">{{ cpuCount }}</span>
            </span>
            <span>
                <a href="/">Keyboards</a>
                <span class="home-parts-count">{{ cpuCount }}</span>
            </span>
            <span>
                <a href="/cpu">Mice</a>
                <span class="home-parts-count">{{ cpuCount }}</span>
            </span>
            <span>
                <a href="/">Monitors</a>
                <span class="home-parts-count">{{ cpuCount }}</span>
            </span>
            <span>
                <a href="/">Power Protection</a>
                <span class="home-parts-count">{{ cpuCount }}</span>
            </span>
            <span>
                <a href="/">Printers</a>
                <span class="home-parts-count">{{ cpuCount }}</span>
            </span>
            <span>
                <a href="/">Printer Supplies</a>
                <span class="home-parts-count">{{ cpuCount }}</span>
            </span>
            <span>
                <a href="/">Projectors</a>
                <span class="home-parts-count">{{ cpuCount }}</span>
            </span>
            <span>
                <a href="/cpu">RAID Controllers</a>
                <span class="home-parts-count">{{ cpuCount }}</span>
            </span>
            <span>
                <a href="/">SD Card Readers</a>
                <span class="home-parts-count">{{ cpuCount }}</span>
            </span>
            <span>
                <a href="/">Speakers</a>
                <span class="home-parts-count">{{ cpuCount }}</span>
            </span>
            <span>
                <a href="/">WebCams</a>
                <span class="home-parts-count">{{ cpuCount }}</span>
            </span>
        </div>
    </div>
</template>