<template name="ChassisEdit">
    <div class="form-container">
        <form id="edit-form" autocomplete="off">
            <div class="row">
                <header>
                    <h1>Edit Chassis: {{chassis.name}}</h1>
                </header>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <h3>Chassis Display Name</h3>
                    <input name="name" type="text" onClick="this.select();" value="{{chassis.name}}">
                </div>
                <div class="col-md-3">
                    <h3>Chassis Manufacturer</h3>
                    <select name="manufacturer">
                        <option value="AMAX Information Technologies">AMAX Information Technologies</option>
                        <option value="Antec">Antec</option>
                        <option value="AOpen">AOpen</option>
                        <option value="APEVIA">APEVIA</option>
                        <option value="Arctic Cooling">Arctic Cooling</option>
                        <option value="ASRock">ASRock</option>
                        <option value="Auzentech">Auzentech</option>
                        <option value="Be quiet!">Be quiet!</option>
                        <option value="Chassis Plans">Chassis Plans</option>
                        <option value="Compaq">Compaq</option>
                        <option value="Cooler Master">Cooler Master</option>
                        <option value="Corsair Components">Corsair Components</option>
                        <option value="Dell">Dell</option>
                        <option value="Deepcool">Deepcool</option>
                        <option value="DFI">DFI</option>
                        <option value="ECS">ECS</option>
                        <option value="EVGA Corporation">EVGA Corporation</option>
                        <option value="Foxconn">Foxconn</option>
                        <option value="Fractal Design">Fractal Design</option>
                        <option value="Gigabyte Technology">Gigabyte Technology</option>
                        <option value="HP">HP</option>
                        <option value="Intel">Intel</option>
                        <option value="In Win Development">In Win Development</option>
                        <option value="Lenovo">Lenovo</option>
                        <option value="Lian Li">Lian Li</option>
                        <option value="MSI">MSI</option>
                        <option value="MiTAC">MiTAC</option>
                        <option value="NZXT Corp">NZXT Corp.</option>
                        <option value="RAIDMax">RAIDMax</option>
                        <option value="Razer">Razer</option>
                        <option value="Rosewill">Rosewill</option>
                        <option value="Shuttle">Shuttle</option>
                        <option value="SilverStone Technology">SilverStone Technology</option>
                        <option value="Supermicro">Supermicro</option>
                        <option value="Thermaltake">Thermaltake</option>
                        <option value="Trenton Technology">Trenton Technology</option>
                        <option value="Ultra Products">Ultra Products</option>
                        <option value="XFX">XFX</option>
                        <option value="Zalman">Zalman</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <h3>Chassis Model</h3>
                    <input name="model" type="text" value="{{chassis.model}}">
                </div>
                <div class="col-md-3">
                    <h3>Availability of Stock</h3>
                    <select name="stock">
                        <option value="Out of Stock">Out of Stock</option>
                        <option value="Limited Stock">Limited Stock</option>
                        <option value="Available">Available</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <h3>Chassis Type</h3>
                    <select name="caseType">
                        <option value="ATX Bench">ATX Bench</option>
                        <option value="ATX Desktop">ATX Desktop</option>
                        <option value="ATX Mini-Tower">ATX Mini-Tower</option>
                        <option value="ATX Mid-Tower">ATX Mid-Tower</option>
                        <option value="ATX Full-Tower">ATX Full-Tower</option>
                        <option value="ATX Super-Tower">ATX Super-Tower</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <h3>Power Supply Mount</h3>
                    <select name="psuMountPos">
                        <option value="Bottom of Case">Bottom of Case</option>
                        <option value="Top of Case">Top of Case</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <h3>PCI Slot Expansions</h3>
                    <input name="pciSlotNumber" type="number" step="1" value="{{chassis.pciSlotNumber}}">
                </div>
                <div class="col-md-3">
                    <h3>Chassis Price</h3>
                    <input name="price" type="number" step="0.01" value="{{chassis.price}}">
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <h3>Number of Fan Bays</h3>
                    <input name="fanNumber" type="number" step="1" value="{{chassis.fanNumber}}">
                </div>
                <div class="col-md-3">
                    <h3>Height</h3>
                    <input name="sizeHeight" step="0.01" type="number" value="{{chassis.sizeHeight}}">
                </div>
                <div class="col-md-3">
                    <h3>Length</h3>
                    <input name="sizeLength" step="0.01" type="number" value="{{chassis.sizeLength}}">
                </div>
                <div class="col-md-3">
                    <h3>Width</h3>
                    <input name="sizeWidth" step="0.01" type="number" value="{{chassis.sizeWidth}}">
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <h3>Optical Bays</h3>
                    <input name="opticBayNumber" type="number" step="1" value="{{chassis.opticBayNumber}}">
                    <input class="submit-button" id="backButton" type="button" value="Back"/>
                    <input class="submit-button" type="submit" value="Save"/>
                </div>
                <div class="col-md-3">
                    <h3>Website</h3>
                    <input name="website" type="text" value="{{chassis.website}}">
                </div>
            </div>
        </form>
    </div>
</template>