<template name="GpuAdd">
    <div class="form-container">
        <form id="add-form">
            <div class="row">
                <header>
                    <h1>Add Graphics Card</h1>
                </header>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <h3>Graphics Card Name</h3>
                    <input name="name" type="text" placeholder="Enter Processor Name"/>
                </div>
                <div class="col-md-3">
                    <h3>Manufacturer</h3>
                    <input name="manufacturer" type="text" placeholder="Enter Manufacturer Name"/>
                </div>
                <div class="col-md-3">
                    <h3>Model</h3>
                    <input name="model" type="text" placeholder="Enter Processor Model"/>
                </div>
                <div class="col-md-3">
                    <h3>Memory</h3>
                    <input name="memory" type="text" placeholder="Enter Graphics Memory"/>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <h3>Core Clock Speed</h3>
                    <input name="coreClock" type="text" placeholder="Enter Core Clock Speed"/>
                </div>
                <div class="col-md-3">
                    <h3>PCI Slot</h3>
                    <input name="pci" type="text" placeholder="Enter PCI Slot Type"/>
                </div>
                <div class="col-md-3">
                    <h3>Price</h3>
                    <input name="price" type="text" placeholder="Enter Current Price"/>
                </div>

                <div class="col-md-3">
                    <h3>Website URL</h3>
                    <input name="website" type="text" placeholder="Enter Link URL"/>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <h3>Description</h3>
                    <textarea name="description" rows="3" placeholder="Enter Extra Information"></textarea>
                    <input class="submit-button" id="backButton" type="button" value="Back"/>
                    <input class="submit-button" type="submit" value="Save"/>
                </div>
            </div>
        </form>
    </div>
</template>