<template name="CpuEdit">
    <div class="form-container">
        <form id="edit-form">
            <div class="row">
                <header>
                    <h1>Edit Processor: {{processor.name}}</h1>
                </header>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <h3>Processor Name</h3>
                    <input name="name" type="text" onClick="this.select();" value="{{processor.name}}"/>
                </div>
                <div class="col-md-3">
                    <h3>Manufacturer</h3>
                    <input name="manufacturer" type="text" onClick="this.select();" value="{{processor.manufacturer}}"/>
                </div>
                <div class="col-md-3">
                    <h3>Model</h3>
                    <input name="model" type="text" onClick="this.select();" value="{{processor.model}}"/>
                </div>
                <div class="col-md-3">
                    <h3>Socket Code</h3>
                    <input name="socket" type="text" onClick="this.select();" value="{{processor.socket}}"/>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <h3>Price</h3>
                    <input name="price" type="text" onClick="this.select();" value="{{processor.price}}"/>
                    <input class="submit-button" id="backButton" type="button" value="Back"/>
                    <input class="submit-button" type="submit" value="Save"/>
                </div>
                <div class="col-md-3">
                    <h3>Website URL</h3>
                    <input name="website" type="text" onClick="this.select();" value="{{processor.website}}"/>
                </div>
                <div class="col-md-3">
                    <h3>Available Stock</h3>
                    <input name="stock" type="text" onClick="this.select();" value="{{processor.stock}}"/>
                </div>
                <div class="col-md-3">
                    <h3>Description</h3>
                    <textarea name="description" onClick="this.select();" rows="3">{{processor.description}}</textarea>
                </div>

            </div>
        </form>
    </div>
</template>